<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="images/Logo_Todo_Nav.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-us">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#footer">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<!-----------------Banner section------------------>
    
<div class="bg-image bg-image-wedding" style="color: white;">
    <section id="banner">
        <div class="container"><div class="row">
            <div class="col-md-6">
                <p class="promo-title">
                <h1>Your busy life deserves this.</h1>
                </p>
                <p>ToDo Manager is a productivity app suited for people who want to stay organized and get more done.
                </p>
                <a href="#">Learn how it works <i class="fa fa-play-circle"></i></a>
                <a href="/users/login"><button type="button" class="btn btn-primary">Get Started!</button></a>
            </div>
            <div class="col-md-6 text-center">
            <img src="images/Bg_Image.png" class="image-fluid">
            </div>
        </div>
        </div>
    </section>
  </div>

  <!-----------------FeatureSection--------------->

<section id="features">
    <div class="container text-center">
        <h2 class="title">Features we Provide</h2>
        <div class="row text-center">
            <div class="col-md-4 features">
                <img src="images/Logo_Simple.png" class="feature-img">
                <h4>SIMPLE</h4>
                <p>
                    Organize your tasks, lists and reminders in one easy to use app. ToDo Manager syncs seamlessly across all your devices.
                </p>
            </div>
            <div class="col-md-4 features">
                <img src="images/Logo_Flexible.png" class="feature-img">
                <h4>FLEXIBLE</h4>
                <p>
                    Keep track of your progress. Add smart reminders so you never forget a thing. With beautiful themes and turbo-charging powers, you’re guaranteed to save time and achieve great things.
                </p>
            </div>
            <div class="col-md-4 features">
                <img src="images/Logo_Trust.png" class="feature-img">
                <h4>TRUSTWORTHY</h4>
                <p>
                    Set reminders to make sure important things don’t slip away. With powerful one-time, recurring and location based reminders, you can be sure critical things don’t get forgotten.
                </p>
            </div>
        </div>
    </div>
</section>

<!------------------------AboutUs--------------------------->

<section class="team">
    <div class="container text-center">
        <h2>About Us</h2>
        <div class="row">
            <div class="col-md-4 profile text-center">
                <div class="img-box">
                    <img src="images/Logo_Male.png" class="img-responsive">
                    <ul>
                        <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                        <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                        <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                </div>
                <h3>Vaibhav Vishal</h3>
                <h4>UX & Front-end Developer</h4>
            </div>
            <div class="col-md-4 profile text-center">
                <div class="img-box">
                    <img src="images/Logo_Female.png" class="img-responsive">
                    <ul>
                        <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                        <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                        <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                </div>
                <h3>Aastha Gulati</h3>
                <h4>UI & Front-end Developer</h4>
            </div>
            <div class="col-md-4 profile text-center">
                <div class="img-box">
                    <img src="images/Logo_Male.png" class="img-responsive">
                    <ul>
                        <a href="#"><li><i class="fa fa-facebook"></i></li></a>
                        <a href="#"><li><i class="fa fa-twitter"></i></li></a>
                        <a href="#"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>
                </div>
                <h3>Suyash Kejriwal</h3>
                <h4>Back-end Developer and DBA</h4>
            </div>     
        </div>
    </div>
</section>

<!-----------------Social Media Section-------------------->

<section id="social-media">
    <div class="container text-center">
        <p>Find Us On Social Media</p>
        <div class="social-icons">
            <a href="#"><img src="images/Logo_Facebook.png"></a>
            <a href="#"><img src="images/Logo_Instagram.png"></a>
            <a href="#"><img src="images/Logo_Twitter.png"></a>
            <a href="#"><img src="images/Logo_Whatsapp.png"></a>
            <a href="#"><img src="images/Logo_Linkedin.png"></a>
            <a href="#"><img src="images/Logo_Snapchat.png"></a>
        </div>
    </div>
    </section>
    
    <!-----------------FooterSection-------------------->
    
    <section id="footer">
        <img src="" class="footer-img">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-box">
                <p>Join millions of people who organize work and life with ToDo Manager.</p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>CONTACT US</b></p>
                <p><i class="fa fa-map-marker"></i>Panipat, Haryana</p>
                <p><i class="fa fa-phone"></i>+1 0123456789</p>
                <p><i class="fa fa-envelope-o"></i>xyz@gmail.com</p>
            </div>
            <div class="row">
                <div class="col-md-4 footer-box">
                <p><b>SUBSCRIBE NEWSLETTER</b></p>
                <input type="email" class="form-control" placeholder="Your Email" style="
                width: 150px;
                margin-bottom: 20px;
            ">
                <button type="button" class="btn btn-primary">SUBSCRIBE</button>
            </div>
            </div>
        </div>
    </section>
    