<div id="mySidenav" class="sidenav">
    
    <a href="/dashboard">Goal</a>
    <a href="/calendar">Calendar</a>
    <a href="/report">Report</a>
    <a href="#">Settings</a>
    <a href="#">About</a>
    <a href="/users/logout">Logout</a>
    
  </div>