* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: sans-serif;
  }
  #nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
  }
  .navbar-brand img {
    height: 40px;
    padding-left: 20px;
  }
  .navbar-nav li {
    padding: 0 10px;
  }
  .navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
  }
  .fa-bars {
    color: #fff;
    font-size: 30px !important;
  }
  .navbar-toggler {
    outline: none !important;
  }
  
  /*  */
  
  /*-------------------------SideBar Section-------------------------*/
  
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
  
  body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  /* Toggle Styles */
  
  #viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #content {
    width: 100%;
    position: relative;
    margin-right: 0;
  }
  
  /* Sidebar Styles */
  
  #sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #sidebar header {
    background-color: #263238;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
  }
  
  #sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
  
  #sidebar header a:hover {
    color: #fff;
  }
  
  
  #sidebar .nav a{
    background: none;
    border-bottom: 1px solid #455A64;
    color: #ECEFF1;
    font-size: 14px;
    padding: 16px 24px;
  }
  
  #sidebar .nav a:hover{
    background: none;
    color: #ECEFF1;
  }
  
  #sidebar .nav a i{
    margin-right: 16px;
  }
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 69px; /* Stay at the top */
    left: 0;
    background-color: #37474F; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left:250px
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* Dynamic content css */
  p {
    margin: 10px 0 !important;
  }
  
  .login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
  }
  
  .fa-small {
    font-size: 16px !important;
  }
  
  .btn-float {
    float: left;
    margin-right: 10px;
  }
  
  .img-small {
    width: 150px;
    height: 150px;
  }

  .nogoals{
    color: red;
    font-weight: bold;
  }
  
  progress {height: 20px;}
.progress .sr-only { position: relative; }

.noprogress{
    color:white;
    font-weight: bold;
  }
